@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to epam cloudx training for azure developer associate</h1>
    <p> This is demo web app created by Prashant M </p>
</div>
